body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* LOGIN STYLE */
.login-header {
  text-align: center;
  background: #fd6c21;
  height: 100px;
  font-family: Lato, sans-serif;
  color: white;
  position: sticky;
  margin-bottom: 20px;
  top: 0;
  
}

.login-header img {
  height: 40px;
  margin-top: 25px;
}

.login-header p {
  margin: 0;
}

.login-container {
  margin: 20px auto;
  width: 360px;
  padding: 20px;
  border: 1px solid #c2c2c2;
  font-family: Lato, sans-serif;
  background-color: white;
}

.login-container label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.login-container input {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 42px;
  font-size: 13px;
  line-height: 1.42857143;
  padding: 2px 12px;
  margin-bottom: 30px;
}

.login-container input:focus {
  outline: none;
}

.login-container div:not(.form) {
  display: flex;
  align-items: center;
}

.login-container span {
  margin-left: 10px;
  margin-right: 10px;
}

.login-container a {
  text-decoration: none;
  color: black;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 8px 14px;
  font-weight: 400;
  border-radius: 4px;
}

.login-container .loginBtn {
  border: 1px solid #ccc;
  font-weight: 400;
  border-radius: 4px;
  padding: 8px 14px;
}

.login-container .loginBtn:focus {
  outline: none;
}


/* SIGN UP FORM */
.sign-cont {
  /* position: fixed; */
  margin: 0 auto;
}

.sign-form {
  display: flex;
  flex-direction: column;
  width: 66.66%;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 30px 60px;
}

.sign-form input {
  margin-bottom: 15px;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}


.sign-form label {
  margin-bottom: 10px;
}

.sign-form button {
  margin-top: 20px;
  background-color: #fd6c21;
}
.sign-form button:focus {
  outline: none;
}


/* SIDEBAR */

.header {
  background: white;
  height: 70px;
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}

.header div {
  width: 170px;
  height: 70px;
  background-color: #fd6c21;
}

.header img {
  height: 40px;
  display:block;
  padding: 15px 38px;
}

.sideBar {
  display: inline-block;
  width: 170px;
  background-color: white;
  height: 100%;
  position: fixed;
}

.sideBar p {
  text-transform: uppercase;
  color: #bebfc0;
  margin: 20px 20px;
  font-size: 11px;
  font-weight: 700;
}

.sideBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 170px;
}

.sideBar ul i {
  margin-left: 20px;
  color: #d8d8d8;
}

.sideBar ul li a {
  margin-left: 8px;
  cursor: pointer;
}

.sideBar ul li {
  margin-bottom: 30px;
}

.sideBar  ul div {
  margin-bottom: 100px;
}

.sideBar  i:hover {
  color: #fd6c21;
}


.sideBar  a {
  text-decoration: none;
  color: black;
}

.sideBar  a:visited {
  color: black;
}

.sideBar button {
  color: red;
}

.route-content {
  padding-left: 170px;
}


/* DASHBOARD */
.dashboard {
  display: flex;
}

/* PERK */
.perk-container {
  margin-top: 27px;
  margin-left: 27px;
  width: 95%;
}

.perk-container a {
  margin-left: 10px;
  text-decoration: none;
  color: #2f78b9;
  font-weight: 500;
}

.perk-container a:hover {
  text-decoration: underline;
}

.perk-container .btn {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #fd6c21;
  color: #fff;
  border-radius: 4px;
}

.perk-container .btn:hover {
  text-decoration: none;
}

.perk-container .react-tabs__tab-list {
  margin: 0;
}

.perk-container .switch-button {
  margin: 15px 0px 0px 15px;
}

.perk-container .react-tabs__tab-panel {
  background: #fff;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 10px;
}

.perk-container .react-tabs__tab-panel--selected {
  display: block;
}


/* ADD NEW PERK && EDIT PERK */

.perk-cont {
  display: flex;
}

.perk-cont .left {
  background: rgb(19, 23, 30);
  text-align: center;
  padding: 40px 0;
  position: relative;
  margin-top: 30px;
  height: 600px;
  width: 50%;
}

.perk-cont .express-studios {
  margin: 0;
  color: white;
}

.perk-cont .express-studios {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 180px;
  left: 50%;
}

.perk-cont  .expires {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  bottom: 160px;
  left: 50%;
  color: white;
}

.expires span {
  color: rgb(157, 157, 157);
}

.right {
  width: 50%;
  margin-top: 40px;
}

.checkBox {
  display: flex; 
  align-items: center;
  margin-top: 10px;
}

.checkBox label {
  margin-bottom: 0;
  margin-right: 10px;
}

.checkBox input {
  margin: 0;
  width: initial;
}

.right  p {
  color: rgb(157, 157, 157);
  margin-top: 5px;
  text-align: center;
}

.right h2 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0px;
  text-align: center;
}

.right .form {
  display: flex;
  flex-direction: column;
}

.right .form input {
  width: 84%;
  height: 27px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  margin-left: 27px;
  margin-bottom: 15px;
}

.right .form input:focus {
  outline: none;
}

.right .form label {
  margin-bottom: 10px;
  margin-left: 27px;
}

.right .btns {
  display: flex;
  margin: 15px 0 0 30px;
  width: 26%;
}

.right button:focus {
  outline: none;
}

.right .select {
  font: inherit;
  width: 89%;
  margin-left: 27px;
}

.right .saveBtn {
  color: white;
  background-color: #fd6c21;
  padding: 9px 13px;
}

.right .cancelBtn {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc; 
  padding: 8px 13px;
  margin-left: 10px;
  margin-bottom: 20px;
}


/* VIEW PERK */
.view-perk-container label {
  font-weight: bold;
}

.perk-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;

}

.view-perk-container a {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 7px 14px;
  border-radius: 4px;
  font-weight: 500;
}


/* MERCHANT */
.user-info {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.user-info span {
  font-weight: bold;
  width: 16%;
}

.merchant-container a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #fd6c21;
  color: #fff;
  border-radius: 4px;
}

.edit-button {
  margin-bottom: 30px;
}

/* EDIT MERCHANT */
.edit-merchant-container {
  margin-left: 20px;
}

.edit-merchant-container form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.edit-merchant-container input {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}

.edit-merchant-container label {
  margin-bottom: 10px;
  margin-right: 10px;
}

.edit-merchant-container label:not(:first-child) {
  margin-top: 15px;
}

.edit-merchant-container .buttons {
  display: flex;
  margin-top: 15px;
}

.edit-merchant-container img {
  margin-bottom: 20px;
}

.edit-merchant-container .opening-hours {
  width: 60px;
  color: red;
}

.select-merchant label {
  width: 60px;
  margin-bottom: 15px;
}

.select-merchant select {
  width: 40%;
  height: 30px;
  margin-left: 5px;
}

.edit-merchant-container .chooseImgBtn {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}

.edit-merchant-container .uploadBtn {
  color: white;
  background-color: #7ca9d1;
  margin-left: 10px;
  font-weight: bold;
}


/* USER PROFILE */
.profile-cont button {
  margin-bottom: 15px;
}

.profile-cont button:focus {
  outline:none
}

.profile-cont button:focus {
  outline:0;
}

.profile-cont a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 10px;
  background-color: #fd6c21;
  color: #fff;
  border-radius: 4px;
}

.profile-cont .edit-button {
  margin-bottom: 30px;
}

.profile-edit-cont form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  padding: 20px 10px 20px;
}

.profile-edit-cont form input {
  margin-bottom: 15px;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}

.profile-edit-cont form input:focus {
  outline: none;
}

.profile-edit-cont form label {
  margin-bottom: 10px;
}

.profile-edit-cont .btns {
  display: flex;
  width: 26%;
}

.profile-edit-cont .btns:focus {
  outline:none
}

.profile-edit-cont .cancelBtn {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc; 
  padding: 8px 13px;
  margin-left: 10px;
  font-weight: bold
}

.profile-edit-cont .saveBtn {
  color: white;
  background-color: #fd6c21;
  padding: 9px 13px;
  font-weight: bold
}












/* let Perk = styled.div`
    display: flex;
    .left {
        background: rgb(19, 23, 30);
        text-align: center;
        padding: 40px 0;
        position: relative;
        margin-top: 30px;
        height: 600px;
        width: 50%;
    }

    .express-studios {
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        top: 180px;
        left: 50%;
        * {
            margin: 0;
            color: white;
        }
    } */

    /* .expires {
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        bottom: 160px;
        left: 50%;
        color: white;
        span {
            color: rgb(157, 157, 157);
        }
    }

    .right {
        width: 50%;
        margin-top: 40px;
        
        .checkBox {
            display: flex;
            align-items: center;
            margin-top: 10px;

            label {
                margin-bottom: 0;
                margin-right: 10px;
            }

            input {
                margin: 0;
                width: initial;
            }
        } */

        /* p {
            color: rgb(157, 157, 157);
            margin-top: 5px;
            text-align: center;
        }

        h2 {
            font-size: 25px;
            font-weight: normal;
            margin-bottom: 0px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
    
            input {
                width: 84%;
                height: 27px;
                padding: 7px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                border-radius: 3px;
                border: 1px solid #d9d9d9;
                margin-left: 27px;
                margin-bottom: 15px;
            } */

            /* input:focus {
                outline: none;
            }
    
            label {
                margin-bottom: 10px;
                margin-left: 27px;
            }

            .btns {
                display: flex;
                margin-top: 15px;
                margin-left: 30px;
                width: 26%;
            }

            button:focus {
                outline: none;
            }

            .select {
                font: inherit;
                width: 89%;
                margin-left: 27px;
            }
        }
    }
`; */